// Личный кабинет
.choice-block
  margin-bottom 35px

  .field
    display inline-block
    margin-right 4px
    border-bottom 1px solid $shadow
    padding 8px 20px 8px 15px
    background-color white

  .iradio
    vertical-align text-bottom

  label
    display inline-block
    margin 0
    color $text-color