$btn-height = 32px

.btn
  position relative
  display inline-block
  border-width 0px
  border-style solid
  border-radius 0px

  padding 7px 14px 8px
  height $btn-height

  color #fff !important

  font 700 13px/1.3 $custom

  vertical-align middle
  text-align center
  text-decoration none
  text-transform uppercase
  white-space nowrap

  cursor pointer
  touch-action manipulation
  user-select none
  // transition background-color ease .3s

  btn-var($base-color)

  & + .btn
    margin-left 15px


.btn_second
  btn-var($second-color)

.btn_sm
  height $btn-height - 2
  font 700 10px/18px $custom

.btn_mid
  height $btn-height + 6

.btn_lg
  height $btn-height + 6
  font 700 14px/24px $custom


.btn_link
  border-color transparent
  background-color transparent
  color $base-color
  text-decoration underline

  &:hover
    background-color transparent
    text-decoration none

  &:active
  &:focus
    background-color transparent

  & + .btn
    margin-left 15px


.btn_block
  display block
  width 100%
