// Иконка крестик
.icon-delete
  s-delete()

.icon-remove
  s-remove()

// icons.styl
.icon-user
  s-user()

.icon-compare
  s-compare()

.icon-cart-lg
  display inline-block
  size(24px)

  &:before
    content " "
    s-cart_lg()

.icon-vtable
  s-vtable()

.icon-vlist
  s-vlist()

.icon-vblock
  s-vblock()

.icon-sale
.icon-star
.icon-news
  display inline-block
  position relative
  size(28px)

  &:before
    content " "

.icon-sale:before
  s-bsale()

.icon-star:before
  s-bstar()

.icon-news:before
  s-bnew()

.active
  .icon-vtable
    s-vtable_a()

  .icon-vlist
    s-vlist_a()

  .icon-vblock
    s-vblock_a()

.icon-add-cart
  s-add-cart()

.icon-slarr_right
.icon-slarr_left
  display inline-block
  position relative
  size(30px)
  padding 0
  border-radius 50%
  background-color rgba($second-color, .5)
  transition background-color .3s linear

  &:hover
    background-color rgba($second-color, 1)

  &:before
    content " "
    position absolute
    top 50%
    left 50%
    margin -6px 0 0 -6px

.icon-slarr_right
  &:before
    s-sl-arrow_right()

.icon-slarr_left
  &:before
    s-sl-arrow_left()