// b-odrer.styl
.order-page
  margin-bottom 50px
  clearfix()

  .title
    margin-bottom 25px
    font 700 18px/30px $custom
    text-transform uppercase

  .form-order
    width 570px
    margin-bottom 50px

  .choice-delivery
  .choice-payment
    .title
      margin-bottom 15px
    // float left

  .choice-delivery
    margin-bottom 50px
    // width 320px

  .choice-payment
    // margin-left 50px
    // max-width 570px

  .order-detail .table_consist
    .item_amount
      width 80px
      padding-left 20px
      padding-right 20px

    .item_name
      width auto

    .item_total-summ
      width 245px

    .total .item
      padding-bottom 40px
      border-bottom 2px solid $second-color

.order-detail
  padding-top 20px
  margin-bottom 22px

  .table
    margin-bottom 0
    border-top 2px solid $second-color

    .link
      text-decoration none

    .total
      .item
        width 100%
        text-align right

    .item_weight
      width 180px
      text-align left

    .item_delivery
      width 170px
      text-align left

    .item_total-summ
      width 237px
      position relative
      text-align left
      top 1px

      strong
        position relative
        top -2px
        font 700 24px/26px $custom

  .table_consist
    td
      vertical-align middle
      padding-bottom 12px
      padding-top 12px

    .item_name
      vertical-align top

      .link
        display block
        margin-bottom 5px
        font 700 13px/17px $custom

      .art
        color $text-color
        font-size 11px

        span
          color #898989

    .item_price
      width 100px
      font-size 13px

      .price
        font-weight bold

      .discount
        margin-top 20px
        font-size 11px

    .price-old
      color $second-color
      font-size 10px
      text-decoration line-through
      font-weight normal

    .item_amount
    .item_summ
    .item_weight
    .item_delivery
    .item_total-summ
      color $text-color

    .item_weight
    .item_delivery
    .item_total-summ
    .total .total-summ
    .total strong
      display inline-block
      vertical-align middle

    .item_summ
      width 115px
      font 700 18px/21px $custom
      text-align left