// Список новостей
.w-publ_page
  max-width 670px

  .date
  .title
    font-size 13px

// Внутренняя страница Новости
.news_inner
  .title
    margin-bottom 15px
    font 700 18px/26px $custom
    text-transform uppercase

  .date
  .typography
    margin-bottom 30px
    font-size 13px

  .link
    color $base-color


// Карта сайта
.sitemap
  margin-bottom 50px

  .wrap
  .wrap + .list
    display inline-block
    vertical-align top

  .list
    padding-left 0
    list-style-type none

  .link
    color $base-color
    font-size 13px

  .title
  .list_sections .link
    font 700 12px/18px $custom
    text-transform uppercase

  .title
    margin-bottom 8px

  .list_catalog
    margin-right 60px
    padding-left 15px

    .link
      line-height 28px

  .list_sections
    margin-top -8px

    .link
      line-height 34px
      text-decoration none


.contacts
  margin-bottom 70px


.contacts__top
  .contact-block
    margin-bottom 30px
    width 200px
    font-size 13px

    & + .contact-block
      margin-left 30px

    .title
      margin-bottom 12px
      font 700 13px/20px $custom
      text-transform uppercase

    .link
      display block
      text-decoration none

    .link_email
      color $base-color


.contacts__maps

  // .contact-map
  .title
    font 700 18px/24px $custom
    margin-bottom 20px
    text-transform uppercase

  .box
    display inline-block
    margin-bottom 20px
    width 220px
    vertical-align top

  .box_last
    width 400px

    & + div
      margin-bottom 20px

  .map-box
    margin-bottom 35px
    height 350px
    width 100%
