.product-item
  position relative
  // transition .5s ease
  // clearfix()

  .product-item__wrap
    border-bottom 1px solid $shadow
    background-color white

  .brand-icon
    position absolute
    top 10px
    left 15px
    z-index 1

  .image
    display block
    text-align center
    padding 10px 15px 15px
    height 140px
    line-height 140px
    box-sizing content-box

    .img
      vertical-align middle
      display inline-block

  .bages
    position absolute
    z-index 5
    font-size 0
    line-height 0

  .title
    padding-bottom 18px
    margin 0 17px

    .link
      display block
      text-decoration none
      font 700 13px/17px $custom

  .stock
    font-size 11px
    line-height 18px
    color $gray

  .compare-link
    font-size 11px
    color $base-color

  .spec
    display none
    margin 20px 0
    padding-right 20px

    .info
      padding-right 10px
      margin-bottom 10px
      font 400 11px/16px $verdana

    .table
      font-size 11px

      td:first-child
        font-weight bold
        width 120px

      td
        padding-top 4px
        padding-bottom 4px

  .spec-link
    margin-bottom 10px
    font 700 11px/18px $custom
    text-transform uppercase
    color $second-color !important
    border-bottom-color transparent

    &.collapsed
      color $text-color !important
      border-bottom-color $text-color

  .actions
    margin 15px 17px 0
    padding 20px 0 20px

    clearfix()

  .price
    position relative
    font 700 18px/18px $custom
    white-space nowrap

    sup
      position absolute
      top -9px
      right 18px
      color $second-color
      text-decoration line-through
      font 400 normal 10px/11px $font-family-base

    .note
      margin-top 3px
      font 400 normal 11px/11px $font-family-base


// список
.product-list
  margin-bottom 40px
  position relative

  clearfix()


// вид списка 'плитка'
.product-list.pl_block
  margin-left -2px
  margin-right -2px


.pl_block .product-item
  margin 0 2px 10px
  float left
  width 220px

  .title
    position relative
    height 78px

    .link
      max-height 54px
      overflow hidden

  .bages
    left 0
    top 45px
    width 28px

    [class^="icon-"]
      margin 2px 0

  .stock
    position absolute
    bottom 0
    left 0

  .compare-link
    position absolute
    bottom 0
    right 0

  .actions
    border-top 1px solid $shadow
    text-align right

  .price
    float left
    text-align left
    margin-top -3px


// вид списка 'список'
.pl_list .product-item
  width 100%

  .product-item__wrap
    display table
    width 100%
    max-width 100%
    margin 0 0 10px

  .image
    display table-cell
    vertical-align top
    width 150px
    max-width 150px
    box-sizing border-box
    padding 10px 20px

  .bages
    left 0
    bottom 1px
    width 140px
    text-align center

    [class^="icon-"]
      margin 0 1px

  .caption
    display table-cell
    width 370px
    max-width 370px
    box-sizing border-box
    vertical-align top
    padding-top 20px

  .spec
    display block

  .title
    margin-left 0

    .link
      display block
      margin-bottom 3px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    .stock
      display block
      margin-bottom 3px

  .actions
    position relative
    display table-cell
    vertical-align top
    max-width 150px
    width 150px
    padding 20px
    margin 0
    box-sizing border-box
    border-left 1px solid $shadow
    text-align right

    .btn
      margin-top 60px


// вид списка 'таблица'
.pl_table .product-item
  width 100%

  .product-item__wrap
    display table
    width 100%
    max-width 100%
    margin 0 0 10px
    clearfix ()

  .bages
    right 260px
    bottom 1px
    text-align right

    [class^="icon-"]
      margin 0 1px

  .image
  .brand-icon
    display none

  .caption
    display table-cell
    width 425px
    max-width 425px
    vertical-align top
    padding 15px 20px

  .title
    margin-left 0
    padding-bottom 0

    .link
      display block
      margin-bottom 3px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    .stock
    .art
      display inline-block
      margin-right 3px

  .actions
    position relative
    vertical-align top
    display table-cell
    margin 0
    width 243px
    padding 20px
    box-sizing border-box
    border-left 1px solid $shadow

    .btn
      position absolute
      top 20px
      right 20px

.pl_block .product-item_opt
  .price .note
    padding-left 27px

.pl_list .product-item_opt
  .price .note
    padding-left 27px

  .actions
    text-align left

.pl_table .product-item_opt
  .caption
    display table-cell
    width 500px
    max-width 420px

  .actions
    display table-cell
    width 168px

  .price .note
    padding-left 27px

  .bages
    right 183px

.slick-next
  @extend .icon-slarr_right
  position absolute
  z-index 10
  margin-top -15px
  right -15px

.slick-prev
  @extend .icon-slarr_left
  position absolute
  margin-top -15px
  left -15px
  z-index 10


// Внутренняя страница
.product-top
  margin-bottom 50px
  clearfix()


.product-images
  float left
  width 320px

  .main-images
    opacity 0
    position relative
    display block
    margin-bottom 10px
    width 100%
    padding 10px
    background-color white
    border-bottom 1px solid $shadow

    &:after
      content " "
      position absolute
      bottom 10px
      right 10px
      z-index 10
      opacity 0.4
      transition opacity .3s
      s-zoom()

    &:hover
      &:after
        opacity 1

  .slick-slider
    .main-images
      opacity 1

  .thumb
    display block
    opacity 0
    overflow hidden
    height 80px
    margin 0 5px
    width 100px
    line-height 80px
    margin-bottom 10px
    background-color white
    border-bottom 1px solid $shadow
    text-align center
    transition opacity .3s
    cursor pointer
    user-select none

    img
      display inline-block
      vertical-align middle

  .slick-current
    .thumb
      opacity 0.5

  .slick-slider
    margin-bottom 0

    .thumb
      opacity 1
      margin-bottom 0

.product-actions
  overflow hidden
  margin-left 350px
  padding-bottom 5px

  .brand-icon
    display block
    overflow hidden

  .bages
    display inline-block

  .breif
    clear both
    margin-bottom 12px
    font-size 13px
    line-height 20px


  .detail
    height 20px
    padding-bottom 40px
    margin-bottom 20px
    border-bottom 1px solid $shadow
    font-size 11px
    color $gray

    strong
    b
      color $text-color

  .compare-link
    color $base-color
    display inline-block
    margin-left 20px

  .price
    margin-bottom 20px
    font 700 30px/40px $custom

    sup
      font 400 18px/20px $custom
      color $second-color
      text-decoration line-through

    .note
      display inline-block
      margin-left 5px
      font 400 normal 11px/20px $font-family-base
      color $gray

  .quantity
    margin-top 4px
    display inline-block

  .actions
    .btn
      float right


.product-tabs
  margin-bottom 50px

  .spec-table

    table
      width 450px

    td
      border-bottom-color darken($shadow, 15%)

.action-table
  margin-bottom 50px

  .table
    border-top 1px solid darken($shadow, 15%)
    border-bottom 1px solid darken($shadow, 15%)

  td
  th
    padding 8px
    border-bottom 1px solid darken($shadow, 15%)
    border-right 1px solid darken($shadow, 15%)

    &:last-child
      border-right-width 0

  td
    font-size 11px

    &:nth-child(2)
    &:nth-child(3)
    &:nth-child(4)
    &:nth-child(5)
    &:nth-child(6)
      text-align center

  th
    font-size 10px
    line-height 14px
    padding-top 10px
    padding-bottom 10px
    border-bottom-width 2px
    border-bottom-color $second-color
    text-align center

  .addtocart
    padding 12px
    white-space nowrap

    .btn
      vertical-align top
      padding-left 8px
      padding-right 5px
      height 28px

  .quantity-field
    @extend .form-control
    display inline-block
    width 50px
    height 28px

