@media print
  .header__top
  .header__bot
  .link_pseudo
  .link
  .cart_header
  .breadcrumbs
  .page-title
  .w-subscribe
  .footer__left
  .btn
  .compare-link
  .sidebar
    display none
    visibility hidden

  .contacts_header
    float none

    .mode
      margin-left 210px

  .w-publ_page
    max-width 100%

  .content
    float none
    width 100% !important
    margin 0 !important
