// b-sliders.styl

// слайдер на главной странице
.main-slider
  margin-bottom 30px

  .item
    position relative
    display none
    height 260px
    overflow hidden

    clearfix()

  .image
    text-align right


    img
      display inline-block

  .caption
    position absolute
    top 0
    bottom 0
    left 0
    z-index 1
    background-color rgba($second-color, .9)
    padding-top 35px
    padding-left 35px
    width 60%
    color white
    text-transform uppercase

  .title
    margin-bottom 5px
    font 700 26px/30px $custom

  .subtitle
    font 700 18px/24px $custom

  .text
    font 400 13px/20px $font-family-base
    color $text-color
    text-transform none

  .title
  .subtitle
    & + .text
      margin-top 15px

  .bx-wrapper
    margin-bottom 0

  .bx-controls
    position relative
    z-index 99

  .bx-pager
    bottom 30px
    left 35px
    width auto

    a
      background transparent !important
      border-radius 50% !important
      border 2px solid white !important
      width 12px !important
      height 12px !important

      transition .2s linear

      &:hover
        border-color $base-color !important
        background $base-color !important

    .bx-pager-link.active
      background white !important
      border-color white !important