.header
  position relative
  z-index 100
  background-color white

  clearfix()

.header__top
  background $second-color
  height 6px

.header__mid
  padding 25px 0 0
  margin-bottom 24px

  clearfix()

  .logo
    float left
    width 270px
    margin-top -5px
    margin-right 50px

  .contacts_header
    float left
    width 440px
    padding 5px 0
    font-size 11px
    line-height 16px
    white-space nowrap

    clearfix()

    .box
      position relative
      display inline-block
      vertical-align top
      white-space normal
      padding-bottom 20px
      height 67px

      .link_pseudo
        position absolute
        bottom 0
        left 0

      & + .box
        margin-left 20px

    .mode
      display inline-block
      margin-top 2px

  .cart_header
    float left
    position relative
    width 140px
    padding-bottom 20px
    padding-top 11px
    height 74px
    margin-left 40px
    text-align right

    .no-link
      display inline-block
      background-color $second-color
      vertical-align top
      white-space nowrap
      text-align left
      font-size 0
      line-height 0
      color white

      &:hover
        background-color darken($second-color, 10%)

    .icon-cart-lg
      vertical-align top
      margin 5px
      margin-left 10px

    .amount
      display inline-block
      vertical-align top
      padding 5px 10px
      height 34px
      min-width 90px
      border-left 1px solid rgba(white, .5)
      font 400 17px/24px $custom

    .link_icon
      position absolute
      bottom 0
      left 25px
      color $base-color
      font-size 11px


    .note
      font-size 11px

.header__bot
  position relative
  padding 10px 25px
  background-color $base-color
  color white
  margin-top -24px
  transform translateY(24px)
  clearfix()

  .link
    color inherit
    font 700 13px/20px $custom
    text-decoration none
    text-transform uppercase

    &:hover
    &:focus
      color $second-color


  .other-links
    overflow hidden
    padding 4px 0

    ul
      margin 0 -10px

    li
      padding 0 10px

    .active .link
      color $second-color

  .w-panel-search
    float right
    width 350px
    margin-left 25px
