<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="box">
        <span class="phone">+7 (495) 542-22-84</span> <br>
        <span class="phone">+7 (495) 961-51-99</span>

        <a href="javascript:;" data-target="#popup-callme" class="link_pseudo js-popup">Не смогли дозвониться?</a>
      </div>
    </div>
    <div class="footer__right">
      <a href="javascript:;" class="logo-company">
        <img src="assets/images/logo-company.png" alt="" style="width:138px">
      </a>

      <nav class="submenu">
        <ul class="list_line">
          <li><a href="delivery.html" class="link">Доставка и оплата</a></li>
          <li><a href="about.html" class="link">О нас</a></li>
          <li><a href="history.html" class="link">История успеха</a></li>
          <li><a href="contacts.html" class="link">Контакты</a></li>
          <li><a href="sitemap.html" class="link">Карта сайта</a></li>
        </ul>
      </nav>

      <div class="copy note">
        &copy; ООО «Пикап-Комплект», 2015 г.&nbsp;&nbsp;&nbsp;&nbsp;Любой крепеж, от хомута до заклепки и дюбеля
      </div>

      <div class="create note">
        &copy; Создание сайта — <a href="http://trilan.ru" target="_blank" class="link">ТриЛан</a>, 2015 г.
      </div>
    </div>
  </div>
</footer>

<div id="popup-callme" class="popup popup_callme" style="display: none;">
  <div class="popup__wrap">
    <div class="popup-title">Обатный звонок</div>
    {% include 'form-callme.html' %}
  </div>
</div>
