<form action="">
  <div class="form-group">
    <div class="note">Оба поля обязательны для заполнения</div>
  </div>
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" class="form-control input_success" required>
  </div>

  <div class="form-group mb25">
    <label>Ваше имя</label>
    <input type="text" class="form-control input_error" required>
    <div class="input_error">Обязательно для заполнения</div>
  </div>

  <div class="capcha form-group mb25 ">
    <label>Код<span class="red">*</span></label>
    <div class="capcha-field">
      <img src="assets/images/capcha.png" class="image">
      <a href="javascript:;" class="reload"></a>
      <input type="text" class="form-control" required>
    </div>
  </div>

  <div class="form-group align-right">
    <input type="submit" class="btn" value="Отправить">
  </div>
</form>