<header class="header">
  <div class="header__top">

  </div>

  <div class="header__mid">
    <div class="container">

      <a href="main.html" class="logo">
        <img src="assets/images/pk-logo.png" class="img" alt="SITE TITLE">
      </a>

      <div class="contacts_header">
        <div class="box">
          <span class="phone">+7 (495) 542-22-84</span> <br>
          <span class="phone">+7 (495) 961-51-99</span>

          <a href="javascript:;" data-target="#popover-callme" class="link_pseudo js-collapse">Не смогли дозвониться?</a>

          <div id="popover-callme" class="collapse popover popover_callme">
            <div class="popover__wrap">
              <a href="javascript:;" class="js-close popover-close"></a>

              <div class="popover-title">Обратный звонок</div>
              {% include 'form-callme.html' %}
            </div>
          </div>
        </div>

        <div class="box">
          <span class="phone">8-800-700-22-74</span> <br>
          <span class="note">Звонок бесплатный</span>

          <a href="javascript:;" data-target="#popover-feedback" class="link_pseudo js-collapse">Задать вопрос</a>

          <div id="popover-feedback" class="collapse popover popover_callme">
            <div class="popover__wrap">
              <a href="javascript:;" class="js-close popover-close"></a>

              <div class="popover-title">Задать вопрос</div>
              {% include 'form-feedback.html' %}
            </div>
          </div>
        </div>

        <div class="box">
          <span class="mode">
            <span class="note">Пн.-Чт.</span> 09:00-18:00 <br>
            <span class="note">Пт.</span> 09:00-17:00 <br>
            <span class="note">Сб.-Вс.</span> &mdash; выходной
          </span>

        </div>
      </div>

      <div class="cart_header">
        <a href="cart.html" class="no-link">
          <span class="icon-cart-lg"></span>
          <span class="amount">25 000 <span class="rub">Р</span></span>
        </a>

        <a href="compare.html" class="link link_icon">
          <i class="icon-compare"></i> <span>К сравнению</span>
        </a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="header__bot">

        <div class="w-panel-search">
          <form action="#">
            <input type="search" name="search" placeholder="Поиск по наименованию, производителю">
            <button type="submit" class="icon-search"></button>
          </form>
        </div>

        <div class="other-links">
          <ul class="list_line">
            <li class="active"><a href="#?" class="link" title="">Доставка и оплата</a></li>
            <li><a href="#?" class="link" title="">О нас</a></li>
            <li><a href="#?" class="link" title="">История успеха</a></li>
            <li><a href="#?" class="link" title="">Контакты</a></li>
          </ul>
        </div>

    </div>
  </div>
</header>