<a href="catalog.html" class="item">
  <div class="image">
    <img src="assets/uploads/main-slider-1.jpg" alt="">
  </div>
  <div class="caption">
    <div class="title">Шурупы</div>
    <div class="subtitle">По пластику</div>
    <div class="text">Цены изготовителя</div>
  </div>
</a>