<nav class="w-brand-list">
  <ul class="list_unstyled">
    <li class="item active">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-fischer.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">fischer</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-hilti.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">hilti</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-mungo.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">mungo</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-mkt.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">mkt</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-golz.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">golz</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-rottluff.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">rottluff</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-gunnebo.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">gunnebo</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-bralo.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">bralo</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-omax.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">omax</span>
      </a>
    </li>
    <li class="item">
      <a href="brand.html" class="link">
        <div class="wrap-img"><img src="assets/uploads/brand-lez.png" alt="BRAND_NAME" class="img"></div>
        <span class="brand">lez</span>
      </a>
    </li>
  </ul>
</nav>