<!--
На странице брендов по умолчанию класс .active должен быть присвоен элементу списка в шапке
А так же элементу id="brand-links" должны быть присвоены классы .in и .active

Соответствено убрать эти классы у соседних элементов
-->

<nav class="w-category-links">
  <ul class="nav-tabs">
    <li class="item active"><a href="#catalog-links" class="link" data-toggle="tab">Каталог</a></li>
    <li class="item"><a href="#brand-links" class="link" data-toggle="tab">Бренды</a></li>
  </ul>
</nav>

<nav class="w-category-list tab-content">

  {# Категории #}
  <div id="catalog-links" class="tab-pane fade in active">
    <ul class="list_unstyled catalog-links">
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-1.png" alt="" class="img"></span><span class="name">Диск по металлу</span></a></li>
      <li class="item">
        <a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-2.png" alt="" class="img"></span><span class="name">Трубные хомуты</span></a>

        <ul class="list_unstyled sub">
          <li class="item"><a href="catalog.html" class="link">Стальные</a></li>
          <li class="item">
            <a href="catalog.html" class="link">Алюминевые</a>
            <ul class="list_unstyled sub">
              <li class="item active"><a href="catalog.html" class="link">Для сантехники</a></li>
              <li class="item"><a href="catalog.html" class="link">Для газовых труб</a></li>
            </ul>
          </li>
          <li class="item"><a href="catalog.html" class="link">Пластиковые</a></li>
        </ul>
      </li>

      <li class="item">
        <a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-3.png" alt="" class="img"></span><span class="name">Заклепки вытяжные</span></a>
        <ul class="list_unstyled sub">
          <li class="item"><a href="catalog.html" class="link">Стальные</a></li>
          <li class="item">
            <a href="catalog.html" class="link">Алюминевые</a>
            <ul class="list_unstyled sub">
              <li class="item active"><a href="catalog.html" class="link">Для сантехники</a></li>
              <li class="item"><a href="catalog.html" class="link">Для газовых труб</a></li>
            </ul>
          </li>
          <li class="item"><a href="catalog.html" class="link">Пластиковые</a></li>
        </ul>
      </li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-4.png" alt="" class="img"></span><span class="name">Анкер химический</span></a></li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-5.png" alt="" class="img"></span><span class="name">Саморезы по дереву</span></a></li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-6.png" alt="" class="img"></span><span class="name">Бур по бетону</span></a></li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-7.png" alt="" class="img"></span><span class="name">Шурупы и саморезы</span></a></li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-8.png" alt="" class="img"></span><span class="name">Шпилька резьбовая</span></a></li>
      <li class="item"><a href="catalog.html" class="link"><span class="image"><img src="assets/images/cat-9.png" alt="" class="img"></span><span class="name">Нержавеющий крепеж</span></a></li>
    </ul>
  </div>

  {# Бренды #}
  <div id="brand-links" class="tab-pane fade">
    <ul class="list_unstyled brand-links">
      <li class="item active">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-fischer.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">fischer</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-hilti.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">hilti</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-mungo.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">mungo</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-mkt.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">mkt</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-golz.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">golz</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-rottluff.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">rottluff</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-gunnebo.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">gunnebo</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-bralo.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">bralo</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-omax.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">omax</span>
        </a>
      </li>
      <li class="item">
        <a href="brand.html" class="link">
          <span class="image"><img src="assets/uploads/brand-lez.png" alt="BRAND_NAME" class="img"></span>
          <span class="name">lez</span>
        </a>
      </li>
    </ul>
  </div>

</nav>