<div class="w-publ">
  <div class="w-publ__head">
    <a href="news.html" class="link">Статьи</a>
  </div>

  <div class="w-publ__body">
    {# item #}
    <div class="item">
      <div class="date">13.03.2015</div>
      <a href="news-inner.html" class="title">Виды электродов с&nbsp;покрытием и&nbsp;их&nbsp;применение</a>
    </div>
    {# /item #}

    <div class="item">
      <div class="date">13.03.2015</div>
      <a href="news-inner.html" class="title">Основные виды электродуговой сварки</a>
    </div>

    <div class="item">
      <div class="date">18.07.2013</div>
      <a href="news-inner.html" class="title">Аренда спецтехники</a>
    </div>
  </div>
</div>