.cart-table
  // margin-bottom 30px

  .table
    margin-bottom 30px
    border-top 2px solid $second-color
    border-bottom 1px solid $shadow
    width 100%

  td
    padding 13px 12px
    border none
    vertical-align middle
    border-bottom 1px solid $shadow

  .image
  .name
    vertical-align top

  .image
    padding-left 0px
    padding-right 2px
    width 100px

    .link
      display inline-block
      background-color white
      border-bottom 1px solid $shadow

  .img
    width 100px

  .name
    // width 255px

    .link
      display block
      margin-bottom 5px
      font 700 13px/17px $custom
      text-decoration none

  .price-one
    width 100px
    font-size 13px

    .price
      font-weight bold

    .discount
      margin-top 20px
      font-size 11px

  small
  .art
    font-size 11px

  .quantity
    width 100px

  .price-old
    color $second-color
    font-size 10px
    text-decoration line-through
    font-weight normal

  .price-total
    width 70px
    font 700 18px/24px $custom
    white-space nowrap

  .remove
    width 10px
    padding-right 10px
    padding-left 10px
    text-align center

.cart-total
  margin-bottom 60px
  text-align right

  .coupon-form
  .action
  .price-total
    display inline-block
    vertical-align top
    text-align left

  .coupon-form
    width 280px
    margin-top 6px

  .action
    margin-left 30px

  .price-total
    margin 0 0 0 14px
    padding 2px 0
    width 115px
    text-align left
    font 700 24px/32px $custom
    white-space nowrap

  .ok-mess
    line-height 32px

  .error-mess
    color #ff0000
    font-size 11px