<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Пикап-Комплект - {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# favicons #}
    <link href="assets/images/favicon/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/images/favicon/favicon.ico" rel="icon">

    {# styles #}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="assets/css/main.css" rel="stylesheet">

    <!--[if lte IE 9]>
    <script src='assets/js/libs/respond.1.4.2.min.js'></script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'includes/header.html' %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    {# scripts block #}
    <script src="assets/js/libs/modernizr-2.7.1.custom.min.js"></script>
    <script src="http://yastatic.net/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>

    {% block other %}{% endblock %}
  </body>
</html>