{% extends 'base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}
  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li><a href="catalog.html" class="link">Трубные хомуты</a></li>
      <li><a href="catalog.html" class="link">Алюминевые</a></li>
      <li><a href="catalog.html" class="link">Для сантехники</a></li>
      <li class="active">Хомут MP-LHI 8-12 A</li>
    </ol>

    <div class="page-title">
      MP-LHI 8-12 A
    </div>

    <div class="product-top">
      <div class="product-images js-image">
        <div class="big-images">
          <div class="js-image-big">
            <div>
              <a href="assets/uploads/placeimg_640_480_tech.jpg" class="main-images js-image-main js-gallery-fancybox" rel="product-image">
                <img src="assets/uploads/placeimg_320_240_tech.jpg" alt="TITLE" class="img">
              </a>
            </div>
            <div>
              <a href="assets/uploads/placeimg_640_480_tech2.jpg" class="main-images js-image-main js-gallery-fancybox" rel="product-image">
                <img src="assets/uploads/placeimg_320_240_tech2.jpg" alt="TITLE" class="img">
              </a>
            </div>
            <div>
              <a href="assets/uploads/placeimg_640_480_tech3.jpg" class="main-images js-image-main js-gallery-fancybox" rel="product-image">
                <img src="assets/uploads/placeimg_320_240_tech3.jpg" alt="TITLE" class="img">
              </a>
            </div>
            <div>
              <a href="assets/uploads/placeimg_640_480_tech4.jpg" class="main-images js-image-main js-gallery-fancybox" rel="product-image">
                <img src="assets/uploads/placeimg_320_240_tech4.jpg" alt="TITLE" class="img">
              </a>
            </div>
            <div>
              <a href="assets/uploads/placeimg_640_480_tech5.jpg" class="main-images js-image-main js-gallery-fancybox" rel="product-image">
                <img src="assets/uploads/placeimg_320_240_tech5.jpg" alt="TITLE" class="img">
              </a>
            </div>
          </div>
        </div>

        <div class="thumbs-images">
          <div class="js-image-thumbs">
            <div>
              <span class="thumb"><img src="assets/uploads/placeimg_100_150_tech.jpg" alt="TITLE" class="img"></span>
            </div>

            <div>
              <span class="thumb"><img src="assets/uploads/placeimg_100_60_tech2.jpg" alt="TITLE" class="img"></span>
            </div>

            <div>
              <span class="thumb"><img src="assets/uploads/placeimg_100_80_tech3.jpg" alt="TITLE" class="img"></span>
            </div>

            <div>
              <span class="thumb"><img src="assets/uploads/placeimg_100_100_tech4.jpg" alt="TITLE" class="img"></span>
            </div>

            <div>
              <span class="thumb"><img src="assets/uploads/placeimg_100_120_tech5.jpg" alt="TITLE" class="img"></span>
            </div>

          </div>

        </div>
      </div>

      <div class="product-actions">
        <span class="bages right mb20">
          <i class="icon-sale"></i>
          <i class="icon-news"></i>
        </span>

        <a href="brand.html" target="_blank" class="brand-icon mb20"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>

        <div class="breif">
          Хомут с замком применяется для монтажа труб водоснабжения, отопления и газоснабжения

        </div>

        <div class="detail">
          {# Скрывается, если используется покупка по видам товара #}
            <a href="compare.html" class="compare-link right">Сравнить</a>
            <span class="stock right">Нет на складе</span>

            <span class="art">
              Арт. <strong>1234567890</strong>
            </span>
          {# Скрывается, если используется покупка по видам товара #}
        </div>


        {# Скрывается, если используется покупка по видам товара #}
          <div class="price">
            1 200 <span class="rub">Р</span> <sup>15 700</sup> <span class="note">за 1 шт.</span>
          </div>

          <div class="actions">
            <a href="cart.html" class="btn btn_sloped btn_lg">В корзину</a>

            <div class="quantity js-quantity">
              <div class="o-quantity">
                <span class="min">-</span>
                <input class="js-quantity-field" type="text" max="20" min="1" value="1" name="quantity-product">
                <span class="max">+</span>
              </div>
            </div>
          </div>
        {# Скрывается, если используется покупка по видам товара #}



      </div>
    </div>

    <div class="product-tabs w-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#description" aria-controls="description" data-toggle="tab" class="link">Описание</a></li>
        <li ><a href="#application" aria-controls="application" data-toggle="tab" class="link">Применение</a></li>
        <li ><a href="#materials" aria-controls="materials" data-toggle="tab" class="link">Строит. материалы</a></li>
        <li ><a href="#mounting" aria-controls="mounting" data-toggle="tab" class="link">Монтаж</a></li>
        <li ><a href="#specifications" aria-controls="reviews" data-toggle="tab" class="link">Тех. данные</a></li>
        <li ><a href="#downloading" aria-controls="downloading" data-toggle="tab" class="link">Загрузки</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="description">
          <div class="typography">
            <p>Быстрый защелкивающийся замок с одним затяжным болтом — легкое, быстрое закрытие и открытие хомута. Короткая присоединительная гайка позволяет вести монтаж максимально близко к стене или потолку. Одиночная присоединительная гайка. Диапазон диаметров зажимаемых труб без «пробелов». Надежная фиксация каучуковой изоляции на хомуте. Каучуковая изоляция приклеена к металлу, что позволяет вращать и регулировать трубу без риска потери изоляции, тем самым повышает производительность работ и экономит времяримененяется для монтажа труб водоснабжения, отопления и газоснабжения</p>
          </div>
        </div>

        <div class="tab-pane fade" id="application">
          <div class="typography">
            <p>Тексты</p>
          </div>
        </div>

        <div class="tab-pane fade" id="materials">
          <div class="typography">
            <p>Тексты</p>
          </div>
        </div>

        <div class="tab-pane fade" id="mounting">
          <div class="typography">
            <p>Тексты</p>
          </div>
        </div>

        <div class="tab-pane fade" id="specifications">
          <div class="spec-table">
            <table class="table">
              <tr>
                <td>Изоляционный материал</td>
                <td>EPDM rubber</td>
              </tr>
              <tr>
                <td>Диапазон зажима</td>
                <td>8–12 mm</td>
              </tr>
              <tr>
                <td>Ширина от от края до края хомута </td>
                <td>20 мм</td>
              </tr>
              <tr>
                <td>Толщина стального полукольца хомута</td>
                <td>0,8 мм</td>
              </tr>
              <tr>
                <td>Температ. устойчивость </td>
                <td>от -40°C до 110°C</td>
              </tr>
            </table>

          </div>
        </div>

        <div class="tab-pane fade" id="downloading">
          <div class="typography">
            <p>Тексты</p>
          </div>
        </div>
      </div>
    </div>

    {# Показываем, если используется покупка по видам товара #}
    <div class="action-table">
      <table class="table">
        <tbody>
          <tr>
            <th>Арт. №</th>
            <th>Длина гильзы L, мм</th>
            <th>Диаметр сверла, мм</th>
            <th>Диаметр и толщина бортика d<sub>1</sub> и K, мм</th>
            <th>Толщина пакета материалов E, мм</th>
            <th>Цена за 1 упак, <span class="rub">Р</span> / кол-во в упак, шт.</th>
            <th>&nbsp;</th>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <td>G1881006410<div class="note">В наличии</div></td>
            <td>10,5</td>
            <td>6,6 - 7,0</td>
            <td>13,1 &times; 1,5</td>
            <td>2,8 - 4,8</td>
            <td class="price">
              <b>2160</b>
              <div class="note">1500</div>
            </td>
            <td class="addtocart">
              <input type="text" class="quantity-field" value="1" name="quantity-ID">
              <a href="javascript:;" class="btn btn_sm"><i class="icon-add-cart"></i></a>
            </td>
          </tr>
          <tr>
            <td>G1881006412<div class="note">В наличии</div></td>
            <td>12,5</td>
            <td>6,6 - 7,0</td>
            <td>13,1 &times; 1,5</td>
            <td>4,8 - 6,8</td>
            <td class="price">
              <b>720</b>
              <div class="note">1000</div>
            </td>
            <td class="addtocart">
              <input type="text" class="quantity-field" value="1" name="quantity-ID">
              <a href="javascript:;" class="btn btn_sm"><i class="icon-add-cart"></i></a>
            </td>
          </tr>
          <tr>
            <td>G1881006414<div class="note">В наличии</div></td>
            <td>14,5</td>
            <td>6,6 - 7,0</td>
            <td>13,1 &times; 1,5</td>
            <td>6,8 - 8,8</td>
            <td class="price">
              <b>720</b>
              <div class="note">1000</div>
            </td>
            <td class="addtocart">
              <input type="text" class="quantity-field" value="1" name="quantity-ID">
              <a href="javascript:;" class="btn btn_sm"><i class="icon-add-cart"></i></a>
            </td>
          </tr>
          <tr>
            <td>G1881006416<div class="note">В наличии</div></td>
            <td>16,5</td>
            <td>6,6 - 7,0</td>
            <td>13,1 &times; 1,5</td>
            <td>8,8 - 10,8</td>
            <td class="price">
              <b>720</b>
              <div class="note">1000</div>
            </td>
            <td class="addtocart">
              <input type="text" class="quantity-field" value="1" name="quantity-ID">
              <a href="javascript:;" class="btn btn_sm"><i class="icon-add-cart"></i></a>
            </td>
          </tr>
          <tr>
            <td>G1881006418<div class="note">Нет на складе</div></td>
            <td>18,5</td>
            <td>6,6 - 7,0</td>
            <td>13,1 &times; 1,5</td>
            <td>10,8 - 12,8</td>
            <td class="price">
              <b>720</b>
              <div class="note">1000</div>
            </td>
            <td class="addtocart">
              <input type="text" class="quantity-field" value="1" name="quantity-ID">
              <a href="javascript:;" class="btn btn_sm"><i class="icon-add-cart"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {# Показываем, если используется покупка по видам товара #}


    {#  #}
    {# виджет карусель товаров #}
    <div class="w-carousel-goods">
      <div class="w-carousel-goods__head">С этим товаром покупают</div>

      <div class="w-carousel-goods__body pl_block">
        <div class="js-carousel-goods">

            {# блок с товаром #}
            {# Полная верстка блока товара находится в catalog.html  #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-3-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-4-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-5-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-6-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}