{% extends 'base.html' %}

{# тайтл страницы #}
{% block title %}Сравнение товаров{% endblock %}

{# содержимое области контента #}
{% block content %}

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Сравнение товаров</li>

    </ol>

    <div class="page-title">Сравнение товаров</div>

    <div class="compare">

      <div class="w-carousel-goods">

        <div class="w-carousel-goods__body pl_block compare__list">
          <div class="js-carousel-goods">


              {# блок с товаром #}
              {# Полная верстка блока товара находится в catalog.html  #}
              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-3-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-4-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-5-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

              <div class="product-item">
                <div class="product-item__wrap">
                  {# ссылка для удаления #}
                  <a href="#?" class="icon-delete"></a>
                  <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                  <span class="bages">
                    <i class="icon-sale"></i>
                    <i class="icon-news"></i>
                  </span>
                  <a href="catalog-inner.html" class="image">
                    <img src="assets/uploads/product-image-6-m.jpg" class="img" alt="GOODS_NAME">
                  </a>

                  {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                  <div class="caption">
                    <div class="title">
                      <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                      <span class="stock">Нет на складе</span>

                      <a href="compare.html" class="compare-link">Сравнить</a>
                    </div>
                  </div>

                  <div class="actions">
                    <div class="price">
                      5120 <span class="rub">Р</span>
                      <div class="note">за 1 шт.</div>
                    </div>

                    <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>



      <table class="table compare__table">
        <tr>
          <td class="compare-name">Диаметр/толщина, мм</td>
          <td class="compare-data">115/3,0</td>
          <td class="compare-data">115/2,5</td>
          <td class="compare-data">115/2,5</td>
        </tr>
        <tr>
          <td class="compare-name">Посадочное отверстие, мм</td>
          <td class="compare-data">22,23</td>
          <td class="compare-data">22,23</td>
          <td class="compare-data">22,23</td>
        </tr>
        <tr>
          <td class="compare-name">Применение</td>
          <td class="compare-data">Общее назначение</td>
          <td class="compare-data">Общее назначение</td>
          <td class="compare-data">Общее назначение</td>
        </tr>
        <tr>
          <td class="compare-name">Характеристики</td>
          <td class="compare-data">Оптимальное соотношение цена/качество</td>
          <td class="compare-data">Высокая износостойкость</td>
          <td class="compare-data">Высокая износостойкость</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}