{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Контакты{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}
  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Контакты</li>
    </ol>

    <div class="page-title">Контакты</div>

    <div class="contacts">
      <div class="contacts__top">

        <div class="contact-block left">
          <div class="title">телефоны</div>
          <a class="link" target="_blank" href="tel:+74955422284">+7 (495) 542-22-84</a>
          <a class="link" target="_blank" href="tel:+74959615199">+7 (495) 961-51-99</a>
        </div>

        <div class="contact-block left">
          <div class="title">email</div>
          <a class="link link_email" target="_blank" href="mailto:info@pickup-komplekt.ru">info@pickup-komplekt.ru</a>
          <a class="link link_email" target="_blank" href="mailto:5422284@mail.ru">5422284@mail.ru</a>
        </div>

        <div class="contact-block left">
          <div class="title">реквизиты</div>
          <div class="requisites">ООО «Пикап-комплект»<br>ОГРН 1117746320670<br>ИНН 7726675126</div>
        </div>
      </div>


      <div class="contacts__maps">

        <div class="contact-map">
          <div class="title">склад</div>
          <div class="info">
            <div class="box">Склад отгружает по<br>рабочим дням с 09:00 до<br> 17:00, сб.–вс. выходной</div>
            <div class="box box_last">МО, г. Подольск, ул. Плещеевская, д. 11</div>
            <div>Как проехать: от МКАД по Варшавскому шоссе в сторону г. Подольска (примерно 15 км от МКАД) после ЖД переезда напротив автосалона KIA на светофоре под стрелочку налево, далее двигаемся до Т-образного перекрестка, главная уходит налево, а вы поворачиваете направо. 300 метров вперед и вы на месте. Территория «Эко-сервис».</div>
          </div>
          <div class="map-box" id="ymaps-storehouse"></div>
        </div>



        <div class="contact-map">
          <div class="title">офисы</div>

          <div class="map-tabs w-tabs">
            <ul class="nav nav-tabs js-city-maps">
              <li class="active"><a href="#tab-msc" data-id="id_0" data-toggle="tab" class="link">Москва</a></li>
              <li ><a href="#tab-rnd" data-id="id_1" data-toggle="tab" class="link">Ростов-на-Дону</a></li>
              <li ><a href="#tab-kdr" data-id="id_2" data-toggle="tab" class="link">Краснодар</a></li>
              <li ><a href="#tab-nsb" data-id="id_3" data-toggle="tab" class="link">Новосибирск</a></li>
              <li ><a href="#tab-prm" data-id="id_4" data-toggle="tab" class="link">Пермь</a></li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane fade in active" id="tab-msc">
                 <div class="info">
                    <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
                    <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
                  </div>
                  {# <div class="map-box" id="ymaps-msc"></div> #}
              </div>

              <div class="tab-pane fade" id="tab-rnd">
                <div class="info">
                    <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
                    <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
                  </div>
                  {# <div class="map-box" id="ymaps-rnd"></div> #}
              </div>

              <div class="tab-pane fade" id="tab-kdr">
                <div class="info">
                    <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
                    <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
                  </div>
                  {# <div class="map-box" id="ymaps-kdr"></div> #}
              </div>

              <div class="tab-pane fade" id="tab-nsb">
                <div class="info">
                    <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
                    <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
                  </div>
                  {# <div class="map-box" id="ymaps-nsb"></div> #}
              </div>

              <div class="tab-pane fade" id="tab-prm">
                <div class="info">
                    <div class="box">Пн.-чт. 09:00—18:00<br>Пт. 09:00—17:00<br>сб.–вс. выходной</div>
                    <div class="box box_last">117152, г.Москва, Севастопольский пр-кт, д.9, корп.2, помещение II, комната 4</div>
                  </div>
                  {# <div class="map-box" id="ymaps-prm"></div> #}
              </div>
            </div>

            <div class="map-box" id="ymaps-office"></div>
          </div>
        </div>


      </div>
    </div>

  </div>
{% endblock %}

{% block other %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" >
  var of_obj = {
    id_0: {
      lat: 55.690785,
      lon: 37.607996,
      tooltip: 'Севастопольский проспект, 9к2'
    },

    id_1: {
      lat: 59.224024,
      lon: 39.883923,
      tooltip: 'Адрес офиса Ростова на дону'
    },

    id_2: {
      lat: 47.222531,
      lon: 39.718705,
      tooltip: 'Адрес офиса Краснодара'
    },

    id_3: {
      lat: 45.040216,
      lon: 38.975996,
      tooltip: 'Адрес офиса Новосиба'
    },

    id_4: {
      lat: 55.690785,
      lon: 39.607996,
      tooltip: 'Адрес офиса Перми'
    }
  }



  $(document).ready(function() {
    // map
    (function () {
      var mapOffice, placemarkOffice, mapStorehouse, placemarkStorehouse;

      function init() {
        // init map Office

        function init_ofice(lt,ln,t) {
          mapOffice = new ymaps.Map('ymaps-office', {
            center: [lt, ln],
            zoom: 13
          });

          var placemarkOffice = new ymaps.Placemark([lt, ln], {
            hintContent: t
          }, {
            iconColor: '#ff0000'
          });

          mapOffice.geoObjects.add(placemarkOffice);
        }

        // передаем параметры из первого объекта
        if (of_obj !== undefined) {
          init_ofice(of_obj.id_0.lat, of_obj.id_0.lon, of_obj.id_0.tooltip);
        } else {
          return false;
        }


        $('.js-city-maps .link').on('click', function () {
          var $this = $(this),
            id = $this.data('id'),
            lt = of_obj[id].lat,
            ln = of_obj[id].lon,
            t = of_obj[id].tooltip;

          mapOffice.destroy();

          init_ofice(lt,ln,t);
        });



        // init map Storehouse
        mapStorehouse = new ymaps.Map('ymaps-storehouse', {
          center: [55.455979, 37.565695],
          zoom: 16
        });

        placemarkStorehouse = new ymaps.Placemark([55.455979, 37.565695], {
          hintContent: 'Пикап-Комплект Склад'
        }, {
          iconColor: '#ff0000'
        });

        mapStorehouse.geoObjects.add(placemarkStorehouse);

        // mapStorehouse.hint.open(mapStorehouse.getCenter(), 'Пикап-Комплект Склад', {
        //   showTimeout: 1500
        // });
      }

      ymaps.ready(init);

    }());
  });
</script>
{% endblock %}