{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}

    {# виджет новостей #}
    {% include 'includes/w-news-list.html' %}

    {# виджет статей #}
    {% include 'includes/w-publ-list.html' %}
  </div>

  <div class="content">

    {# slier #}
    <div class="main-slider">
      <div class="js-main-slider">

        {% include 'includes/main-slider-item.html' %}
        {% include 'includes/main-slider-item.html' %}
        {% include 'includes/main-slider-item.html' %}

      </div>
    </div>

    {# виджет карусель товаров #}
    <div class="w-carousel-goods">
      <div class="w-carousel-goods__head">Популярные товары</div>

      <div class="w-carousel-goods__body pl_block">
        <div class="js-carousel-goods">


            {# блок с товаром #}
            {# Полная верстка блока товара находится в catalog.html  #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-3-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-4-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-5-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-6-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>


    <div class="w-carousel-goods">
      <div class="w-carousel-goods__head">Новинки</div>

      <div class="w-carousel-goods__body pl_block">
        <div class="js-carousel-goods">

          {# <div> #}

            {# блок с товаром #}
            {# Полная верстка блока товара находится в catalog.html  #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-1-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}

          {# <div> #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-2-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}

          {# <div> #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-3-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}


          {# <div> #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-4-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}


          {# <div> #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-5-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}


          {# <div> #}
            <div class="product-item">
              <div class="product-item__wrap">
                <a href="brand.html" target="_blank" class="brand-icon"><img src="assets/uploads/brand-golz.png" class="img" alt="BRAND_NAME"></a>
                <span class="bages">
                  <i class="icon-sale"></i>
                  <i class="icon-news"></i>
                </span>
                <a href="catalog-inner.html" class="image">
                  <img src="assets/uploads/product-image-6-m.jpg" class="img" alt="GOODS_NAME">
                </a>

                {# Максимальная длинна заголовка - 63 символа (так захотел десигнер) #}
                <div class="caption">
                  <div class="title">
                    <a href="catalog-inner.html" class="link">«Beton Premium» LB40 (По бетону - высший класс)</a>
                    <span class="stock">Нет на складе</span>

                    <a href="compare.html" class="compare-link">Сравнить</a>
                  </div>
                </div>

                <div class="actions">
                  <div class="price">
                    5120 <span class="rub">Р</span>
                    <div class="note">за 1 шт.</div>
                  </div>

                  <a href="javascript:;" class="btn btn_sloped btn_sm">В корзину</a>
                </div>
              </div>
            </div>
          {# </div> #}
        </div>
      </div>
    </div>
  </div>
{% endblock %}