{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Новости{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}

    <div class="w-subscribe">
      <div class="title">подписка на новости</div>
      <form action="#" class="w-input-group subscribe-form">
        <input type="text" placeholder="Ваш email" name="subscribe">
        <button class="btn" type="submit">ок</button>
      </form>
    </div>
  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Новости</li>
    </ol>

    <div class="page-title">Новости</div>

    <div class="w-publ w-publ_page">
      <div class="w-publ__body">
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">Виды электродов с покрытием и их передименение</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В июне в Гуанчжоу пройдет выставка метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В Шанхае готовятся к международной выставке крепежа и метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В Китае открыта международная выставка крепежа и метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В России стабилизировался выпуск рафинированной меди</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">Виды электродов с покрытием и их передименение</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В июне в Гуанчжоу пройдет выставка метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В Шанхае готовятся к международной выставке крепежа и метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В Китае открыта международная выставка крепежа и метизов</a>
        </div>
        <div class="item">
          <div class="date">01.06.2015</div>
          <a class="title" href="news-inner.html">В России стабилизировался выпуск рафинированной меди</a>
        </div>
      </div>
    </div>

    {% include 'includes/w-pager.html' %}

  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}