{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Новости{% endblock %}


{# необязательный блок для подключения чего либо. Всталяет содерижимое перед закрывающимся head #}
{% block head %}{% endblock %}


{# содержимое области контента #}
{% block content %}

  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}

    <div class="w-subscribe">
      <div class="title">подписка на новости</div>
      <form action="#" class="w-input-group subscribe-form">
        <input type="text" placeholder="Ваш email" name="subscribe">
        <button class="btn" type="submit">ок</button>
      </form>
    </div>
  </div>

  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li><a href="news.html" class="link">Новости</a></li>
      <li class="active">В сентябре в Индии состоится выставка Hand Tools & Fastener Expo 2015</li>

    </ol>

    <div class="page-title">Новости</div>

    <div class="w-publ w-publ_page news_inner">
      <div class="w-publ__body">
        <div class="item">
          <div class="title">В июне в Гуанчжоу пройдет выставка метизов</div>
          <div class="date">01.06.2015</div>

          <div class="typography">
            <img src="assets/uploads/image-3.jpg" alt="" align="left">
            <p>Китай превалирует по числу проходящих здесь выставок международного значения над прочими странами Азии. В ближайшее время, с 16 по 18 июня, в китайском городе Гуанчжоу будет проводиться 16-я по счету экспозиция "Fasteners & Equipment 2015", где организаторы представят крепежные элементы, метизы различного назначения и оборудование в рамках глобального интернационального проекта "Metal and Metallurgy Exhibition 2015". Этот проект объединяет несколько экспозиций, каждая из них несет концепцию развития узкоспециализированной отрасли в металлургии.Китайские и зарубежные представители коммерческих компаний будут представлять все виды крепежа общего и специального назначения, оборудование, новейшие разработки материалов и технологии, применяемые для производства крепежа, для монтажа различных конструкций, инструменты и т.д. Как отмечают организаторы, каждый год сюда съезжаются около двухсот тысяч клиентов-профессионалов более чем из тридцати стран мира. and Metallurgy Exhibition 2015". Этот проект объединяет несколько экспозиций, каждая из них несет концепцию развития узкоспециализированной отрасли в металлургии. Китайские и зарубежные представители коммерческих компаний будут представлять все виды крепежа общего и специального назначения, оборудование, новейшие разработки материалов и технологии, применяемые для производства крепежа, для монтажа различных конструкций, инструменты и т. д. Как отмечают организаторы, каждый год сюда съезжаются около двухсот тысяч клиентов-профессионалов более чем из тридцати стран мира.  </p>
          </div>

        </div>
        <div>
          <a href="news.html" class="link">К списку новостей</a>
          <a href="javascript:;" class="link link_print right" onclick="window.print();">Распечатать</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}{% endblock %}