{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Оформление заказа - Физ лицо{% endblock %}


{# содержимое области контента #}
{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}
  </div>


  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Оформление заказа — Личные данные</li>
    </ol>

    <div class="page-title">Оформление заказа </div>

    <div class="order-page clearfix">

      <div class="title">Информация о покупателе</div>

      <div class="form-group choice-block js-choice-type">
        <label class="field radio">
          <input type="radio" name="type" >
          Физическое лицо
        </label>

        <label class="field radio">
          <input type="radio" name="type" checked>
          Юридическое лицо
        </label>
      </div>

      <form action="" class="">
        <div class="form-order mb30 ">
          <div class="form-group">
            <span class="note">
              <span class="red">*</span> &mdash; все поля обязательны для заполнения
            </span>
          </div>

          <div class="form-group">
            <label>Название компании <span class="red">*</span></label>
            <input type="text" class="form-control" value="">
          </div>

          <div class="form-group">
            <label>Юридический адрес</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>

          <div class="form-inline mb40">
            <div class="form-group form-group_inn">
              <label>ИНН</label>
              <input type="text" class="form-control" value="">
            </div>
            <div class="form-group form-group_inn">
              <label>КПП</label>
              <input type="text" class="form-control" value="">
            </div>
          </div>

          <div class="form-group">
            <label>Контактное лицо <span class="red">*</span></label>
            <input type="text" class="form-control" value="">
          </div>


          <div class="form-inline mb40">
            <div class="form-group form-group_email">
              <label>Email <span class="red">*</span></label>
              <input type="text" class="form-control" value="">
            </div>

            <div class="form-group form-group_phone">
              <label>Телефон</label>
              <input type="text" class="form-control" value="">
            </div>

            <div class="form-group form-group_phone">
              <label>Факс</label>
              <input type="text" class="form-control" value="">
            </div>
          </div>


          <div class="form-group form-group_zip">
            <label>Почтовый индекс</label>
            <input type="text" class="form-control" value="">
          </div>

          <div class="form-group">
            <label>Адрес доставки <span class="red">*</span></label>
            <textarea  class="form-control" rows="5"></textarea>
          </div>

          <div class="form-group">
            <label>Дополнительная информация</label>
            <textarea  class="form-control" rows="5"></textarea>
          </div>
        </div>

        <div class="clearfix mb30 ">

          <div class="choice-delivery">
            <div class="title">Доставка</div>

            <div class="form-group choice-block">
              <label class="field radio">
                <input type="radio" name="delivery" value="0" checked>
                Курьером
              </label>

              <label class="field radio">
                <input type="radio" name="delivery" value="1">
                Самовывоз
              </label>
            </div>
          </div>

          <div class="choice-payment">
            <div class="title">Оплата</div>

            <div class="form-group choice-block">
              <label class="field radio">
                <input type="radio" name="payment" value="0" checked>
                Наличными курьеру
              </label>

              <label class="field radio">
                <input type="radio" name="payment" value="1">
                Банковский перевод
              </label>

              <label class="field radio">
                <input type="radio" name="payment" value="2">
                Робокасса
              </label>
            </div>
          </div>
        </div>

        <div class="order-detail mb30 ">
          <div class="title">Состав заказа</div>

          <table class="table table_consist">

            <tr>
              <td class="item item_name">
                <a href="catalog-inner.html" class="link">Заклепки из алюминия для мягких материалов</a>
                <div class="art"><span>Арт.</span> G1881006410</div>
              </td>

              <td class="item item_price">
                {# Если есть скидка, добвляем <sup class="price-old">2160</sup> со старой ценой и ниже <div class="discount"></div> с размером скидки #}
                <div class="price">2100 <span class="rub">Р</span> <sup class="price-old">2160</sup></div>
                <small>цена за упак.</small>

                <div class="discount"><b>15%</b> скидка</div>
              </td>

              <td class="item item_amount">1 упак.</td>
              <td class="item item_summ">2000 <span class="rub">Р</span></td>
            </tr>




            <tr>
              <td class="item item_name">
                <a href="catalog-inner.html" class="link">Хомут MP-HI 8-12 M8/M10</a>
                <div class="art"><span>Арт.</span> H1881006111</div>
              </td>
              <td class="item item_price">
                <div class="price">102 <span class="rub">Р</span></div>
                <small>цена за шт.</small>
              </td>

              <td class="item item_amount">5 шт.</td>
              <td class="item item_summ">510 <span class="rub">Р</span></td>
            </tr>




            <tr>
              <td class="item item_name">
                <a href="catalog-inner.html" class="link">Бур по бетону Bosch S4L SDS-plus</a>
                <div class="art"><span>Арт.</span> B1951028419</div>
              </td>
              <td class="item item_price">
                <div class="price">1400 <span class="rub">Р</span></div>
                <small>цена за упак.</small>
              </td>


              <td class="item item_amount">2 упак.</td>
              <td class="item item_summ">2600 <span class="rub">Р</span></td>
            </tr>




            <tr class="total">
              <td class="item" colspan="6">
                <span class="item_weight">Общий вес: <strong>15 кг</strong></span>
                <span class="item_delivery">Доставка:  <strong>1000 <span class="rub">Р</span></strong></span>
                <span class="item_total-summ">Итого с доставкой: <strong><span class="total-summ">5110</span> <span class="rub">Р</span></strong></span>
              </td>
            </tr>
          </table>
        </div>



        <div class="form-group align-right">
          <button onclick="window.history.back()" class="btn_link">Вернуться в корзину</button>
          <input type="submit" class="btn btn_second" value="Отправить">
        </div>
      </form>

    </div>
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}
<script type="text/javascript">
  $('.js-choice-type input:radio').on('ifChecked', function (event) {
    console.log('Меняем форму для физ или юр лиц');
  });
</script>
{% endblock %}