{% extends 'base.html' %}


{# тайтл страницы #}
{% block title %}Заказ оформлен{% endblock %}


{# содержимое области контента #}
{% block content %}
  <div class="sidebar">
    {# список категорий #}
    {% include 'includes/w-product-category.html' %}
  </div>


  <div class="content">

    {# хлебные крошки #}
    <ol class="breadcrumbs">
      <li><a href="main.html" class="link">Главная</a></li>
      <li class="active">Заказ оформлен</li>
    </ol>

    <div class="page-title">Заказ оформлен </div>

    <div class="order-page clearfix">

      <div class="typography">
        <p>
          Ваш заказ <b>№24562112</b> успешно оформлен<br>
          В ближайшее время наш менеджер свяжется с вами.
        </p>
      </div>



    </div>
  </div>
{% endblock %}


{# необязательный блок для поключения чего-то. Всталяет содерижимое перед закрывающимся body #}
{% block other %}
<script type="text/javascript">
  $('.js-choice-type input:radio').on('ifChecked', function (event) {
    console.log('Меняем форму для физ или юр лиц');
  });
</script>
{% endblock %}