html
  position relative
  min-height 100%
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  overflow-y scroll

body
  margin-bottom 120px
  font normal $font-size-base/$line-height-base $font-family-base
  background $background-body
  color $text-color

::selection
  background $second-color
  color $base-color

::-moz-selection
  background $second-color
  color $base-color

a:link
  color $link-color

  &:hover
  &:active
  &:focus
    color $base-color

a:visited
  color rgba($link-color, .8)


.link
  text-decoration underline

  &:hover
    text-decoration none

.red
  color #ff0000

.link_pseudo
  text-decoration none !important
  display inline-block !important
  line-height 1.1 !important
  border-bottom 1px dotted
  white-space nowrap

  &:hover
    // border-bottom-color transparent
    color $base-color

.link_icon
  white-space nowrap
  text-decoration none !important

  [class^="icon-"]
    vertical-align middle
    margin-right 5px

  span
    text-decoration underline

  &:hover span
    text-decoration none

.link_print
  &:before
    content ""
    display inline-block
    margin-right 12px
    vertical-align middle
    s-print()

.no-link
  display block
  color $text-color
  text-decoration none !important

.phone
  font 700 15px/22px $custom

.note
  color $gray

.rub
  position relative
  display inline-block
  line-height 1
  vertical-align baseline

  &:after
    content '\2212'
    position absolute
    top 15%
    left 0
    font-weight 300

.shadow
  background-color white
  border-bottom 1px solid $shadow

.sidebar
  float left
  padding-top 60px
  width 220px


  & + .content
    width 670px
    float right


.content
  position relative
  padding-top 60px

  clearfix()

.breadcrumbs
  padding 0
  margin-bottom 20px
  font-size 11px
  color $gray

  li
    display inline-block

    & + li:before
      content "\007C \00A0"
      display inline-block
      // margin-right 4px

  .active .link
    color $gray
    text-decoration none

.paginate-wrapper
  clear both
  margin-left 270px

.pagination
  margin-bottom 40px
  padding 0
  list-style none

  li
    display inline-block
    vertical-align top

  .link
    display inline-block
    padding 0 5px
    text-decoration none
    font 500 normal 18px/24px $custom
    color $text-color

  .active .link
    color $second-color
    text-decoration none

  .icon-arrow-left
  .icon-arrow-right
    &:before
      display inline-block
      line-height 26px
      font-size 13px
      vertical-align top

  .icon-arrow-left:before
    content "\25C0"

  .icon-arrow-right:before
    content "\25B6"


.page-title
  margin 30px 0 30px
  font 700 30px/40px $custom
  text-transform uppercase

.tab-content
  & > .tab-pane
    display none

  & > .active
    display block
